{% extends 'base.html.twig' %}
{% set main_title = 'Informacje i pomoc' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-info-circle'|ico }}{{ main_title|trans }}</h2>

    <p>
      E-rezerwacja to system informatyczny w formie aplikacji internetowej stworzony dla pracowników
      i&nbsp;studentów Akademii Muzycznej w Łodzi w celu umożliwienia zdalnej rezerwacji sal oraz 
      usprawnienia ewidencji pobrań i zwrotów kluczy.
    </p>

  {% if app.request.locale == 'pl' %}

    {% if not is_granted(constant('App\\CustomTypes\\UserLevel::USER')) %}
      <p><a href="{{ path('login') }}">Zaloguj się przez pocztę <b>amuz.lodz.pl</b></a></p>
    {% endif %}

  {% else %}

    {% if not is_granted(constant('App\\CustomTypes\\UserLevel::USER')) %}
      <p><a href="{{ path('login') }}">Log in via the mail <b>amuz.lodz.pl</b></a></p>
    {% endif %}

  {% endif %}
  
    <p>
      Pytania i uwagi odnośnie aplikacji oraz zgłoszenia ewentualnych błędów można kierować na adres:
      <a href="#" class="cryptedmail" data-name="mateusz.piechnat" data-domain="amuz.lodz" data-tld="pl"
        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld + '?subject=e-rezerwacja'; return false;"></a>
    </p>

    <p>
      Wykorzystane technologie: PHP, MariaDB, Symfony, Doctrine, jQuery, Select2
    </p>

{% endblock %}