{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Strona główna{% endtrans %}
{% endblock %}

{% block main %}
<div>
  <h1>
    {% trans %}Strona główna{% endtrans %}
  </h1>
  <p>
    {% if is_granted('ROLE_ADMIN') %}
      {{ 'Administrator'|trans }}{% else %}
      {{ 'Użytkownik'|trans }}{% endif %}: 
    {{ app.user.username ?? 'anonimowy'|trans }}
  </p>
  {% if not is_granted('ROLE_USER') %}
    <p><a href="{{ path('login') }}">
      {% trans %}Zaloguj się za pomocą poczty <b>amuz.lodz.pl</b>{% endtrans %}
    </a></p>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<p>
  <nobr>© 2020 {% trans %}Akademia Muzyczna w Łodzi. Wszelkie prawa zastrzeżone.{% endtrans %}</nobr>
  <nobr>
    {% trans %}Uwagi można kierować na adres{% endtrans %}
    <a href="#" class="cryptedmail" data-name="mateusz.piechnat" data-domain="amuz.lodz" data-tld="pl"
      onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
    </a>
  </nobr>
</p>
{% endblock %}