{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Strona główna{% endtrans %}
{% endblock %}

{% block main %}
<div>
  <h1>
    {{ (app.user.fullname ?? 'Użytkownik')|trans }}
    <span style="display: block; font-weight: 300; font-size: 0.7em; margin-top: 0.3em">
      {{ (app.user.accessname ?? 'Nieznany')|trans }}
    </span>
  </h1>
  <div>
  
  </div>
  {% if not is_granted(constant('App\\CustomTypes\\UserLevel::USER')) %}
    <p><a href="{{ path('login') }}">
      {% trans %}Zaloguj się za pomocą poczty <b>amuz.lodz.pl</b>{% endtrans %}
    </a></p>
  {% endif %}
</div>
{% endblock %}