{% extends 'base.html.twig' %}

{% block title %}
  {{ title|default('Wystąpił błąd')|trans }}
{% endblock %}

{% block main %}
<div>
    <h2>
      {{ title|default('Wystąpił błąd')|trans }}
    </h2>
    <p>
      {{ content|default('')|trans }}
    </p>
    <form action="{{ path(path|default('main'), params|default([])) }}">
      <p class="form-group">
        <button type="submit" /><i class="fas fa-check"></i>OK</button>
      </p>
    </form>
</div>
{% endblock %}