html, body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  margin: 0; border: 0; padding: 0;
  background-color: #fcfcfc;
  height: 100%;
}
#main-wrapper {
  position: relative;
  height: calc(100% - var(--navigation-bar-height));
  overflow: auto;
  background-color: #fff;
}
.main-container {
  max-width: 800px;
  min-height: 100%;
  overflow: auto; 
  margin: 0 auto;
  padding: 0 2%;
  background-color: #fcfcfc;
  box-shadow: 0 0 4rem 0.05rem rgba(45, 45, 45, 0.3); /* OK */
}
body, select, input, button, textarea, .button   {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  color: #000;
}
main, footer {
  padding: 1% 0.4em;
}
footer {
  font-size: 0.8em;
}
a {
  color: #2d2dc5;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  text-decoration: underline;
}
p, h1, h2, h3, h4, h5, h6 { margin: 0.83em 0; }
h1 {
  font-size: 1.7em;
}
hr {
  margin: 1em 0;
  padding: 0;
  border: solid #bbb;
  border-width: 1px 0 0 0;
}
b {
  font-weight: 400;
}
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
i.bx {
  vertical-align: sub;
  margin-right: 0.2em;
  font-size: 1.3em;
  opacity: 0.6;
}
#navigation-bar i.bx {
  transform: translateX(-0.1em);
}
.main-title {
  font-weight: 400;
  color: #333;
  padding: 0 0 0.4em 0;
  border: solid #bbb;
  border-width: 0 0 1px 0;
}
.main-title i {
  opacity: 1;
  color: #444;
}
.tag-list {
  margin: 0.83em 0;
  line-height: 2.4;
}
.tag-list ul {
  display: inline;
  padding: 0;
}
.tag-list li {
  display: inline;
  border: 1px dotted #ccc;
  border-radius: 0.5rem;
  padding: 0.3em 0.5em;
  white-space: nowrap;
}

.list-table {
  max-width: 100%;
  overflow: auto;
  text-align: left;
}
.list-table table {
  border-collapse: separate;
  border-spacing: 0;
}
.list-table table th { 
  padding: 0 0.5em 0.5em 0.5em; 
}
.list-table table td { 
  padding: 0.5em; 
}

/* MENU RECONFIGURATION - BEGIN */

#navigation-bar .container {
  position: fixed;
  background-color: #cc2e22;
  box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.5);
}
#navigation-bar .placeholder {
  display: block;
}
@media (min-width: 1025px) { 
  #navigation-bar .menu-panel ul {
    background-color:#dd2e22;
  }
  #navigation-bar .menu-panel > ul > li > a::after {
    content: '';
    margin-left: 0.5em;
  }
  #navigation-bar .menu-panel ul ul li {
    width: 11em;
  }
  #navigation-bar .menu-panel ul ul {
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 1024px) {
  #navigation-bar .menu-panel {
    background-color:#dd2e22;
  }
}

/* MENU RECONFIGURATION - END */

.logo-wrapper .logo-title {
  margin: -0.15em 0 0 0.7em;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: 0.08em 0.06em 0.05em rgba(20, 20, 20, 0.7);
  user-select: none;
}
.logo-wrapper .logo-title > span:first-child {
  color: #f00;
  font-size: 1.4em;
  margin: -0.2em 0.05em 0 0;
  font-style: italic;
  text-shadow: 0.06em 0.04em 0.06em rgba(0, 0, 0, 1);
}
.logo-wrapper .logo-title > span:last-child {
  transform: skewY(-5deg) rotate(5deg);
}
.logo-wrapper a:hover {
  text-decoration: none;
}

.form-group {
  margin: 0.83em 0;
}
.form-group > .form-group {
  margin: 0;
}
.form-group select, .form-group button, .form-group textarea, .form-group input[type=text], 
.form-group input[type=date], .form-group input[type=time], .select2-container input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group > select, .form-group > input, .form-group > button, .form-group > textarea, .button {
  margin: 0 0.83em 0 0;
}
.form-group > select:focus, .form-group > input:focus, .form-group > textarea:focus, 
.form-group > button:focus, .form-group > a:focus, .button:focus {
  outline: none;
}
.form-group > select, .form-group > input, .form-group > textarea {
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 0 0.3rem 0.05rem rgba(85,85,85,0.2);
  box-sizing: border-box;
}
.form-group > textarea {
  min-height: 3em;
  min-width: 10em;
  max-width: 99%;
}
.form-group > input, .form-group > select, .form-group > button, .button {
  min-height: 2.3em; /* bug in input type="date" line-height */
  width: auto;
}
.button {
  line-height: 1.6; /* vertically centre text */
}
.form-group > input[type=time] {
  width: auto;
}
.form-group > label {
  display: block;
  font-size: 1em;
  padding: 0.4em 0.4em 0.4em 0.1em;
}
.form-group > input[type=checkbox] { 
  min-height: auto; /* bug in input type="date" line-height */
  margin: 0 0.6em 0 0.4em; 
}
.form-group > input[type=checkbox] + label {
  display: inline-block;
  margin-right: 0.5em;
}
.form-group > select:focus, .form-group > input:focus, .form-group > textarea:focus, .button {
  border: 1px solid #888;
  box-shadow: 0.05rem 0.05rem 0.3rem 0.05rem rgba(45,45,45,0.3);
}
.form-group > button, a.button, .button {
  font-size: 1em;
  padding: 0.3em 0.7em 0.3em 0.5em;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 0 0.3rem 0.05rem rgba(85,85,85,0.2);
  box-sizing: border-box;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  color: initial;
  font-weight: 300;
  vertical-align: top;
}
.form-group > button[type=submit] {
  font-weight: 400;
}
.form-group > button:active, .button:active {
  border: 1px solid #888;
  background: #eee;
  transform: translateY(0.05rem) translateX(0.05rem);
  box-shadow: none;
  border-color: #bbb;
  -webkit-tap-highlight-color: transparent;
  transition: none;
}
.form-group > button:last-child, .form-group > .button:last-child {
  margin-right: 0;
}

ul.form-errors {
  color: red;
  margin: 0 0.83em 0.83em 0;
}

.button-row > * {
  display: inline-block;
}
.button-row button, .button-row .button {
  margin: 0.6em 0.83em 0.6em 0;
}
.button-row {
  padding-top: 0.1em;
}

.form-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-flex-wrapper .form-group {
  margin-top: 0;
}

/* SELECT2 RECONFIGURATION - BEGIN */

.select2-container--open {
  z-index: 99998;
}
.select2-container {
  max-width: 99%;
}
.jqslct2-min-width .select2-dropdown, .jqslct2-min-width .select2-container {
  min-width: 10em;
}
.form-group > .select2 {
  margin: 0 0.83em 0 0;
}
.select2-results__options {
  overflow-x: hidden;
}
.select2-selection {
  border-color: #ccc !important;
  box-shadow: 0 0 0.3rem 0.05rem rgba(85,85,85,0.2);
}
.select2-selection[aria-expanded=true], .select2-dropdown {
  border-color: #888 !important;
  box-shadow: 0.05rem 0.05rem 0.3rem 0.05rem rgba(45,45,45,0.3);
}
.select2-selection--single, .select2-selection__arrow {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.select2-selection--single {
  height: auto !important;
}
.select2-container .select2-search--inline input.select2-search__field {
  border: 1px solid transparent;
}
.select2-container--default .select2-selection--single span.select2-selection__rendered {
  color: #000;
}

/* SELECT2 RECONFIGURATION - END */