{% extends 'base.html.twig' %}
{% set main_title = 'Ograniczenia czasowe' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-time'|ico }}{{ main_title|trans }}</h2>
  <p>{{ text }}</p>

{% endblock %}