<script>

$('input.jqslct2-single-user').each(function(i, elm) {

    var select = $('<select>');
    var input = $(elm).replaceWith(select);
    $.each(input.prop('attributes'), function() {
        if ($.inArray(this.name, ['name', 'required', 'id', 'style', 'class']) > -1) {
            select.attr(this.name, this.value);
        }
    });
    var email = input.prop('value'), text = input.data('text');             
    if (jQuery.type(email) === 'string' && jQuery.type(text) === 'string') {
        select.append(`<option value="${email}">${text}</option>`);
    }
    var render = function(data) {
        return data.text + (data.id ? ' (' + data.id.split('@')[0] + ')' : '');
    };
    select.select2({
        language: 'pl',
        minimumInputLength: 3,
        width: 'style',
        placeholder: '\u{200B}',
        templateResult: render,
        templateSelection: render,
        ajax: {
            url: '/jsonapi/find/user',
            dataType: 'json',
            delay: 400,
            cache: true,
        },
    });

});

$('input.jqslct2-single-room').each(function(i, elm) {

    var select = $('<select>');
    var input = $(elm).replaceWith(select);
    $.each(input.prop('attributes'), function() {
        if ($.inArray(this.name, ['name', 'required', 'id', 'style', 'class']) > -1) {
            select.attr(this.name, this.value);
        }
    });
    var title = input.prop('value');             
    if (jQuery.type(title) === 'string') {
        select.append(`<option value="${title}">${title}</option>`);
    }
    select.select2({
        language: 'pl',
        width: 'style',
        placeholder: '\u{200B}',
        minimumInputLength: 1,
        ajax: {
            url: '/jsonapi/find/room',
            dataType: 'json',
            delay: 400,
            cache: true,
        },
    });

});

</script>